
table {
    border-spacing: 10px 3px;
}

th {
    text-align: left;
}

td {
    text-align: right;
}

td.level1, td.level2, td.level3 {
    text-align: left;
}

td.level1 {
    padding-left:   0em;
}
td.level2 {
    padding-left:   2em;
}
td.level3 {
    padding-left:   4em;
}

#color-coding li {
	width: 80px;
	line-height: 1.5;
	margin-bottom: 10px;
	padding: 5px;
	text-align: right;
	list-style: none;
	float: right;
}

#color-coding {
	float: left;
}